{% extends 'shop/base.html' %}

{% block body_class %}password-reset-page{% endblock %}
{% block header_class %}small-header{% endblock %}
{% block main_class %}main-content-padding{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'staticfiles/admin/css/password_reset.css' %}">
<div class="password-reset-container">
    <h2>Reset Your Password</h2>
    <form method="post" class="password-reset-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send Password Reset Email</button>
    </form>
</div>
{% endblock %}
